@font-face {
  font-family: "iconfont"; /* Project id 3483467 */
  src: url("iconfont.woff2?t=1656058047696") format("woff2"),
    url("iconfont.woff?t=1656058047696") format("woff"),
    url("iconfont.ttf?t=1656058047696") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid1:before {
  content: "\e6ef";
}

.icon-grid:before {
  content: "\e631";
}

.icon-list:before {
  content: "\e68c";
}
