.icon-group-item {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .icon-quantity {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 12px;
  }
  .icons {
    display: flex;
    flex-wrap: wrap;
  }
  .icons.MAP .icon-item {
    width: 200px;
  }
  .icons.LIST .icon-item-content {
    width: 50px;
    justify-content: center;
  }
  .icons .icon-item-content {
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: white;
    margin: 6px;
  }

  .icons .icon-item-content:hover {
    cursor: pointer;
    background-color: antiquewhite;
  }
  .icons .icon-item .icon-name {
    margin-left: 6px;
    font-weight: 300;
    font-size: 12px;
  }
}
